/* color-accent:           #2196F3;  */
/* Основной цвет текста:   #757575;  */
/* Вторичный цвет текста:  #212121   */
/* Основной цвет фона:     #FFFFFF   */
/* Вторичный цвет фона:    #F5F4FA   */
/* Цвет футера:            #2F303A   */

:root {
    --color-acent: #2196F3;
    --main-text-color: #757575;
    --secondary-text-color: #212121;
    --main-bg-color: #FFFFFF;
    --scondary-bg-color: #F5F4FA;
    --footer-bg-color: #2F303A;
    --footer-grey-text: rgba(255, 255, 255, 0.6);
}

body{
    font-family: 'Roboto', sans-serif;
    color: var(--main-text-color);
    background-color: #ffffff;
    font-weight: normal;
}

ul {list-style: none;
}
/* =========================================== Стили Хедера ====================== */
/* ================ Логотип ============ */
.logo-header { 
    font-size: 26px;
    font-weight: 700;
    color: var(--secondary-text-color);
    text-decoration: none;
}

.logo-header span{
    font-family: Raleway, sans-serif;
    color: var(--color-acent);
}

/* ==============  Навигация ============= */
.site-nav{
    font: roboto;
    font-size: 14px; 
    font-weight: 500 ;
    color: var(--secondary-text-color);
    text-decoration: none;
}

.site-nav:hover,
.site-nav:focus {
    color: var(--color-acent);
}

.site-nav.current {
    color: var(--color-acent);
}

/* ========== Контакты в навигации ========== */
.nav-contacts a{
 text-decoration: none;
 font-size: 14px;
 font-weight: 500;
 color: var(--main-text-color);
}

.nav-contacts a:hover,
.nav-contacts a:focus {
    color: var(--color-acent);
}

/* ============================== Футер  ================================== */

footer {
    background-color: var(--footer-bg-color);
}
/*  ========  Логотип Футера  ============ */
.logo-header.logo-footer {
   color: var(--main-bg-color);
}

/* ======= Тел, E-mail в футере ========== */
.footer a{
    font-weight: 400;
    text-decoration: none;
    font-size: 14px;
    font-style: normal;
    color: var(--footer-grey-text);
}

/* ======= Адрес в футере   ============== */
.footer .foter-adress {
    color: var(--main-bg-color);
    }

/* ========= Заголовки в футере   ========*/
.title-footer {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-bg-color);
    font-style: normal;
}

/* ======= Ссылки на соцсети в футере   ============= */
.foter-social a{
    text-decoration: none;
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.1);
}

/* ======= Поле ввода E-mail в футере   ============= */
.footer-action input{
    color: var(--footer-grey-text);
    background-color: var(--footer-bg-color);
}

/* ======= Кнопка ПОДПИСАТЬСЯ в футере   ============= */
.footer-btn {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.06em;
    color: var(--main-bg-color);
    background-color: var(--color-acent);
}
